<%- include('./layout/header') %>
<div id="wrapper">
    <div class="content">
        <section class="hero-section" data-scrollax-parent="true" id="sec1">
            <div class="hero-parallax">
                <div class="bg" data-bg="images/bg/21.jpg" data-scrollax="properties: { translateY: '200px' }">
                </div>
                <div class="overlay op7"></div>
            </div>
            <div class="hero-section-wrap fl-wrap">
                <div class="container">
                    <div class="home-intro">
                        <div class="section-title-separator">
                            <img src="/images/logo.png" alt="">
                        </div>
                        <h2>Travel planning</h2>
                        <span class="section-separator"></span>
                        <h3>Let's start exploring the world together with Fundtrip</h3>
                    </div>
                    <div class="main-search-input-wrap">
                        <form action="/result" method="POST">
                            <div class="main-search-input fl-wrap">
                                <div class="main-search-input-item location" id="autocomplete-container">
                                    <span class="inpt_dec"><i class="fal fa-map-marker"></i></span>
                                    <input type="text" placeholder="Hotel , City..." name="place_name" class="" id=""
                                        value="">
                                    <a href="#"><i class="fal fa-dot-circle"></i></a>
                                </div>
                                <div class="main-search-input-item main-date-parent main-search-input-item_small">
                                    <span class="inpt_dec"><i class="fal fa-calendar-check"></i></span> <input
                                        type="text" name="travel_date" placeholder="When" value="">
                                </div>
                                <div class="main-search-input-item main-date-parent ">
                                    <span class="inpt_dec"><i class="fal fa-user"></i></span>
                                    <div class="quantity">
                                        <input type="number" min="1" max="3" step="1" value="" placeholder="Adults"
                                            name="adults">
                                    </div>
                                </div>
                                <div class="main-search-input-item main-date-parent ">
                                    <span class="inpt_dec"><i class="fal fa-money-bill"></i></span> 
                                    <div class="quantity">
                                        <input type="number" min="1" step="1" value="" name="budjet" placeholder="Budget">
                                    </div>
                                </div>
                                
                                <button class="main-search-button color2-bg">Search <i
                                        class="fal fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--section -->
        <section>
            <div class="container">
                <div class="section-title">
                    <div class="section-title-separator"><span></span></div>
                    <h2>Testimonials</h2>
                    <span class="section-separator"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.
                        Nulla finibus lobortis pulvinar.</p>
                        <div class="modal-open color2-bg add-review lisd-link"><i class="fa fa-user"></i>Add you review</div>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="slider-carousel-wrap text-carousel-wrap fl-wrap">
                <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
                <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
                <div class="text-carousel single-carousel fl-wrap">

                      <!-- slick-item -->
                      <% list.forEach(data=>{ %>
                        <div class="slick-item">
                            <div class="text-carousel-item">
                                <div class="popup-avatar"><img src="images\avatar\1.jpg" alt=""></div>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                <div class="review-owner fl-wrap"> <%= data.name %> - <span>Happy Client</span></div>
                                <p> <%= data.review %>  </p>
                                <a href="#" class="testim-link">Via Facebook</a>
                            </div>
                        </div>
                     <% }) %>

                </div>
            </div>
        </section>
    </div>
</div>

<div class="main-register-wrap modal">
    <div class="reg-overlay"></div>
    <div class="main-register-holder">
        <div class="main-register fl-wrap">
            <div class="close-reg color-bg"><i class="fal fa-times"></i></div>
            <div id="tabs-container">
                <div class="tab">
                    <div id="tab-1" class="tab-content">
                        <h3><span>Fund<strong>trip</strong></span></h3>
                        <div class="custom-form">
                            <form method="post" name="testimonial" action="/testimonial">
                                <input type="text" name="fullname" placeholder="Your Name *" value="">
                                <textarea cols="40" name="reviewe" rows="3" placeholder="Your Review:"></textarea>
                                <button type="submit" class="log-submit-btn color-bg"><span>Submit</span></button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./layout/footer') %>