<%- include('../layout/header') %>

            <!--  wrapper  -->
            <div id="wrapper">
              <!-- content-->
              <div class="content">
                  <section id="sec1" class="middle-padding">
                      <div class="container">
                          <!--about-wrap --> 
                          <div class="about-wrap">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="video-box fl-wrap">
                                          <img src="images\all\9.jpg" class="respimg" alt="">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="list-single-main-item-title fl-wrap">
                                          <h3>Fundtrip <span></span></h3>
                                      </div>
                                      <p>seamlessly connects millions of travelers to memorable experiences, a variety of
                                        transportation options, and incredible places to stay – from homes to hotels, and much more. As one of the
                                        world’s largest travel marketplaces for both established brands and entrepreneurs of all sizes, Fundtrip
                                        enables properties around the world to reach a global audience and grow their businesses.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
                  <!-- section end -->
                  <!--section -->
                  <section class="color-bg hidden-section">
                      <div class="wave-bg wave-bg2"></div>
                      <div class="container">
                          <div class="section-title">
                              <h2>Why Choose Us</h2>
                              <span class="section-separator"></span>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                          </div>
                          <!-- -->
                          <div class="row">
                              <div class="col-md-4">
                                  <!-- process-item-->
                                  <div class="process-item big-pad-pr-item">
                                      <span class="process-count"> </span>
                                      <div class="time-line-icon"><i class="fal fa-headset"></i></div>
                                      <h4><a href="#"> Daily Updates</a></h4>
                                      <p>We all know that as companies get bigger, they can start to care less about their quality of service and
                                        more about their profits.</p>
                                  </div>
                                  <!-- process-item end -->
                              </div>
                              <div class="col-md-4">
                                  <!-- process-item-->
                                  <div class="process-item big-pad-pr-item">
                                      <span class="process-count"> </span>
                                      <div class="time-line-icon"><i class="fal fa-cogs"></i></div>
                                      <h4> <a href="#">No Adverts...Ever</a></h4>
                                      <p>Fundtrip don’t advertise on this site, nor do we charge a fee to access the content. Traveling is expensive enough
                                        without the extras.</p>
                                  </div>
                                  <!-- process-item end -->                                
                              </div>
                              <div class="col-md-4">
                                  <!-- process-item-->
                                  <div class="process-item big-pad-pr-item nodecpre">
                                      <span class="process-count"> </span>
                                      <div class="time-line-icon"><i class="fab fa-android"></i></div>
                                      <h4><a href="#"> Built For You</a></h4>
                                      <p>Forget corporate-sponsored websites that are just after your money; this website has been sourced and put
                                        together by travelers for travelers.</p>
                                  </div>
                                  <!-- process-item end -->                                
                              </div>
                          </div>
                          <!--process-wrap   end-->
                      </div>
                  </section>
                  <!-- section end -->
                  <!--section -->
                  <section id="sec2 row">
                      <div class="container">
                          <div class="section-title">
                              <h2>Our Team</h2>
                              <span class="section-separator"></span>
                          </div>
                          <div class="team-holder section-team fl-wrap">
                              <!-- team-item -->
                              <div class="team-box col-md-3">
                                  <div class="team-photo">
                                      <img src="https://ca.slack-edge.com/TNGRRLUMA-U012Q5MDF4L-dccfd6bec4d1-512" alt="" class="respimg">
                                  </div>
                                  <div class="team-info">
                                      <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                      <h3><a href="#">Waleed A. Afifi</a></h3>
                                      <h4>Fullstack developer</h4>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                                      <div class="team-social">
                                          <ul>
                                              <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                              <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                              <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                              <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                          </ul>
                                          <a class="team-contact_link" href="#"><i class="fal fa-envelope"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="team-box col-md-3">
                                  <div class="team-photo">
                                      <img src="https://ca.slack-edge.com/TNGRRLUMA-U0141L0BS48-9a609dbfcab5-512" alt="" class="respimg">
                                  </div>
                                  <div class="team-info">
                                      <div class="team-dec"><i class="fal fa-camera-retro"></i></div>
                                      <h3><a href="#">Sondos</a></h3>
                                      <h4>Fullstack developer</h4>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                                      <div class="team-social">
                                          <ul>
                                              <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                              <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                              <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                              <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                          </ul>
                                          <a class="team-contact_link" href="#"><i class="fal fa-envelope"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="team-box col-md-3">
                                  <div class="team-photo">
                                      <img src="https://ca.slack-edge.com/TNGRRLUMA-U013538FW6A-b42343105770-512" alt="" class="respimg">
                                  </div>
                                  <div class="team-info">
                                      <div class="team-dec"><i class="fal fa-desktop"></i></div>
                                      <h3><a href="#">Rania</a></h3>
                                      <h4>Fullstack developer</h4>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                                      <div class="team-social">
                                          <ul>
                                              <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                              <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                              <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                              <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                          </ul>
                                          <a class="team-contact_link" href="#"><i class="fal fa-envelope"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="team-box col-md-3">
                                <div class="team-photo">
                                    <img src="https://ca.slack-edge.com/TNGRRLUMA-U012J0NPRSN-578e7c36da49-512" alt="" class="respimg">
                                </div>
                                <div class="team-info">
                                    <div class="team-dec"><i class="fal fa-desktop"></i></div>
                                    <h3><a href="#">Rania</a></h3>
                                    <h4>Fullstack developer</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                        </ul>
                                        <a class="team-contact_link" href="#"><i class="fal fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
                  </section>
              </div>
          </div>
          <!--wrapper end -->
<%- include('../layout/footer') %>