<%- include('../layout/header') %>
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <section id="sec1" class="middle-padding">
            <div class="container">
                <form action="/contactus" method="post">
                    <div class="container-2">
                        <div class="ques">
                            <div>
                                <label for="subject">Subject</label>
                            </div>
                            <div>
                                <input type="text" placeholder=" Type here .." id="subject" name="subject">
                            </div>
                        </div>
                        <div class="ques name">
                            <div>
                                <label for="fname">First Name</label>
                            </div>
                            <div class="input">
                                <input type="text" id="fname" placeholder=" Type here .." name="firstname">
                            </div>
                        </div>
                        <div class="ques name">
                            <div>
                                <label for="lname">Last Name</label>
                            </div>
                            <div>
                                <input type="text" placeholder=" Type here .." id="lname" name="lastname">
                            </div>
                        </div>

                        <div class="ques">
                            <div>
                                <label for="Message">Message</label>
                            </div>
                            <div>
                                <textarea id="Message" name="Message" placeholder="Write something.." cols="30"
                                    rows="10"></textarea>
                            </div>
                        </div>

                    </div>
                    <button type="submit" value="Submit"> Submit</button>
                </form>
            </div>
            <div class="address">
                <iframe width="45%" height="60%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?q=31.897963,35.868527&hl=en&z=18&amp;output=embed"></iframe>
                </iframe>
                <div>
                    <h2>Address:</h2>
                    <h2>Phone number:</h2>
                </div>
            </div>
        </section>
    </div>
</div>
<style>
    * {
        font-size: x-large;
        font-family: 'Nunito', sans-serif;
    }

    .container-2 {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    form {

        float: left;
        width: 50%;
        text-align: center;
    }

    .ques {
        padding: 5%;
        border: 2px solid #18458B;
        box-shadow: 5px yellow;
        padding: 3%;
        border-radius: 5px;
        margin-bottom: 2%;


    }

    .ques,
    textarea {
        background-color: transparent;
        width: 100%;

    }

    .name {
        width: 46%;
        padding: 1%;
    }

    input,
    textarea:focus {
        background-color: transparent;
        width: 100%;
        border: none;
        outline: none;
    }

    button[type=submit] {
        background-color: #18458B;
        border: none;
        width: 100%;
        padding: 12px 12px 12px 12px;
        border-radius: 10px;
        color: rgb(231, 230, 235);
    }

    button:active {
        background-color: #F9B90F;
    }

    iframe {
        float: right;
    }

    @media screen and (max-width:1000px) {
        .address {
            margin-top: 30px;
        }

        .ques {
            width: 100%;
        }

        iframe {
            margin: auto;
            width: 100%;
            float: none;
        }

        form {
            width: 100%;
            margin: auto;
            float: none;
        }
    }
</style>

<%- include('../layout/footer') %>
