<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fundtrip travel planning</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link type="text/css" rel="stylesheet" href="css\reset.css">
    <link type="text/css" rel="stylesheet" href="css\plugins.css">
    <link type="text/css" rel="stylesheet" href="css\style.css">
    <link type="text/css" rel="stylesheet" href="css\color.css">
    <link rel="shortcut icon" href="images\favicon.ico">
</head>

<body>
    <div class="loader-wrap">
        <div class="pin">
            <div class="pulse"></div>
        </div>
    </div>
    <!-- Main  -->
    <div id="main">
        <header class="main-header">
            <div class="header-top fl-wrap">
                <div class="container">
                    <div class="logo-holder">
                        <a href="/"><img src="images\logo.png" alt=""></a>
                    </div>

                    <div class="header-inner fl-wrap">
                        <div class="container">        
                            <div class="home-btn"><a href="/"><i class="fas fa-home"></i></a></div>
                            <div class="nav-button-wrap color-bg">
                                <div class="nav-button">
                                    <span></span><span></span><span></span>
                                </div>
                            </div>
                            <!--  navigation -->
                            <div class="nav-holder main-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="/collection">Collection <i class=""></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-inner-->
            
        </header>
