.map-container {
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.fw-map {
	height: 500px;
}

.fw-map.big_map {
	height: 550px;
}

.fw-map2 #singleMap,
.fw-map2 {
	height: 500px;
}

.hidden-map-container {
	display: none;
	background: #fff;
	overflow: hidden;
}

#singleMap,
.fw-map-small-map {
	height: 420px;
	margin-bottom: 30px;
}

.hidden-map-container #singleMap {
	height: 500px;
	margin-bottom: 15px;
}

.map-container.column-map.right-pos-map {
	right: 0;
}

.map-container.column-map.left-pos-map {
	left: 0;
}

.map-container #map-main {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 990;
	overflow: hidden;
}

.map-container.column-map {
	width: calc(100% - 900px);
	position: absolute;
	overflow: hidden;
}

.map-close {
	position: absolute;
	left: 365px;
	top: 10px;
	z-index: 1100;
	cursor: pointer;
	width: 43px;
	height: 43px;
	line-height: 43px;
	border-radius: 4px;
	-webkit-transform: translate3d(0, 0, 0);
	display: none;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.controls-mapwn {
	position: absolute;
	background: #fff url(../images/search-icon.png) right no-repeat;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	width: 350px;
	z-index: 1000;
	border: none;
	padding: 20px;
	border-radius: 4px;
}

.map-container.column-map.right-pos-map {
	top: 50px!important;
}

.controls {
	margin: 10px 0 0 10px;
}

#singleMap {
	width: 100%;
	position: ;
	height: 300px;
	float: left;
	margin-bottom: 30px;
}

.box-widget #singleMap {
	margin-bottom: 10px;
}

.mapzoom-in,
.mapzoom-out {
	position: absolute;
	z-index: 100;
	top: 50%;
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 40px;
	right: 12px;
	margin-top: -84px;
	-webkit-transform: translate3d(0, 0, 0);
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.mapzoom-out {
	margin-top: -42px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.mapzoom-in {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#singleMap .mapzoom-in,
#singleMap .mapzoom-out {
	margin-top: 0;
}

#singleMap .mapzoom-in {
	margin-top: -42px;
}

.mapzoom-in:before,
.mapzoom-out:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f068";
	font-size: 10px;
	font-weight: 600;
}

.mapzoom-in:before {
	content: "\f067";
}

.mapnavigation {
	position: absolute;
	bottom: 50px;
	right: 20px;
	z-index: 1030;
	width: 140px;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
	overflow: hidden;
}

.mapnavigation:before {
	content: '';
	position: absolute;
	left: 50%;
	width: 1px;
	height: 100%;
	z-index: 10;
	background: #000;
	opacity: 0.2;
}

.mapnavigation a {
	width: 70px;
	padding: 10px 0;
	color: #fff;
	float: left;
	font-size: 11px;
	background: #18458B;
}

.mapnavigation a i {
	padding: 0 5px;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.mapnavigation a:hover i {
	color: #fff;
}

.cluster img {
	display: none
}

.cluster {
	width: 40px !important;
	height: 40px !important;
}

.cluster div {
	text-align: center;
	font-size: 15px !important;
	color: #fff !important;
	font-weight: 600;
	border-radius: 100%;
	width: 40px !important;
	height: 40px !important;
	line-height: 38px !important;
	box-shadow: 0px 0px 0px 4px rgba(6, 27, 65, 0.3);
	border: 2px solid #fff;
	z-index: 100;
	-webkit-transition: all 300ms linear;
	transition: all 100ms 3inear;
	animation: cluster-animation 1.5s infinite;
}

.cluster div:hover {
	background: #5d6275;
}

@keyframes cluster-animation {

	0%,
	100% {
		box-shadow: 0px 0px 0px 4px rgba(6, 27, 65, 0.3);
	}

	50% {
		box-shadow: 0px 0px 0px 9px rgba(6, 27, 65, 0.1);
	}
}

.map-view-wrap {
	position: absolute;
	z-index: 211;
	left: 0;
	width: 100%;
	height: 1px;
	top: 0;
}

.map-view-wrap_item {
	position: relative;
	float: right;
	width: 350px;
	border-radius: 6px;
	background: #fff;
	padding: 25px 30px;
	top: 80px;
}

.map-view-wrap .container {
	height: 1px;
}

.mar-top {
	margin-top: 30px !important;
}
